.container {
  display: flex;
  flex-direction: row;

  .tab {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100vh;

    .TabList {
      margin-left: 0.5rem;
      display: flex;
      flex-grow: 1;
    }

    .dialog {
      margin: 0.5rem;
      margin-right: 0;
      row-gap: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .chat {
    width: 100%;
  }
}